table th {
  font-weight: 400;
  padding: 0.35rem;
  text-align: left;
  background: #7888c3;
  height: 3rem;
  color: #ffffff;
}

table td {
  border: solid 0.065rem #dee2e6;
  padding: 0.4rem;
}

table th:first-of-type {
  border-radius: 10px 0px 0px 0px;
}

table th:last-of-type {
  border-radius: 0px 10px 0px 0px;
}

tbody tr td:first-of-type {
  border-left: solid 0.125rem #dee2e6;
}

tbody tr td:last-of-type {
  border-right: solid 0.125rem #dee2e6;
}

tbody tr:last-of-type td {
  border-bottom: solid 0.125rem #dee2e6;
}

table tr:last-of-type td:first-of-type {
  border-radius: 0px 0px 0px 10px;
}
table tr:last-of-type td:last-of-type {
  border-radius: 0px 0px 10px 0px;
}
table thead {
  border-radius: 10px 10px 0px 0px;
}
table {
  border-radius: 10px 10px 10px 10px;
  border-collapse: separate;
  border-spacing: 0;
}
